.dark{
    --dark-text: #292929;
    --light-text: #F9F8F8;      --dark-background: #2F4550;

    --accent: #B8DBD9;
    --button-border: #B8DBD9;
}



.light{
      --dark-text: #5E4B56;


      --light-background: #EDDCD2;
      --accent: #DBE7E4;
      --button-border: #5E4B56;
}
      